<%= turbo_frame_tag 'new_message' do %>
  <%= form_with model: [@message.room, @message] do |form| %>

    <div class="send">
      <div>
        <%= form.text_field :content, :class => "form-control", :placeholder => "Aa" %>
      </div>
      
      <div>
        <%= form.submit 'Send', id: 'submit', :class => "btn btn-primary" %> 
      </div>
    </div>
  <% end %>
<% end %>

<% if false %>
<div class="back">
  <%= link_to 'Back', @message.room, :class => "btn btn-primary" %>
</div>
<% end %>