<div id="user-id" data-user-id="<%= current_user.id  %>"></div>
<div id="room-id" data-room-id="<%= @room.id %>"></div>

<h5>
  Logged in as: 
  <%= current_user.email  %>
</h5>

<h1>
  <%= @room.name %>
</h1>

<div class='chat-msg' id="messages">
  <%= render @room.messages %>
</div>

<%# turbo_frame_tag 'new_message', src: new_room_message_path(@room) %>

<%= turbo_frame_tag 'new_message' do %>
  <%= form_with model: [@room, @new_message] do |form| %>

    <div class="send">
      <div>
        <%= form.text_field :content, :class => "form-control", :placeholder => "Aa" %>
      </div>
      
      <div>
        <%= form.submit 'Send', id: 'submit', :class => "bg-blue-500 btn btn-primary" %> 
      </div>
    </div>
  <% end %>
<% end %>




<div class="back">
  <%= link_to 'Back', root_path, :class => "btn btn-secondary" %>
</div>
