<%= turbo_stream_from @room %>

<div id="user-id" data-user-id="<%= current_user.id  %>"></div>
<div id="room-id" data-room-id="<%= @room.id %>"></div>

<h5>
  Logged in as: 
  <%= current_user.email  %>
</h5>

<h1>
  <%= @room.name %>
</h1>





<%= turbo_frame_tag 'new_message' do %>
  <%= form_with(model: [@room, @new_message], remote:true, data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"})  do |form| %>

  <div id="messages", class="border p-4 rounded-lg overflow-y-scroll", data-controller ="scroll">
    
    <%= render @room.messages %>
  </div>
   <div>
      <%= form.text_field :content, :class => "form-control", :placeholder => "Aa" %>
  </div>

    <div class="send">
     
      
  <div>
    <%= form.submit 'Send', id: 'submit', :class => "bg-blue-500 btn btn-primary" %> 
  </div>
    </div>
  <% end %>
<% end %>




<div class="back">
  <%= link_to 'Back', root_path, :class => "btn btn-secondary" %>
</div>